@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
    background-color: #ebebeb;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
header{
    text-align: center;
    margin: 2px;
    padding: 2px;
    font-family: inherit;
}
#title{
    color:#073B4C

}
header> hr{
    height: 3px;
}

#controllers{
    margin: 5px auto;
    display: none;
    border: 1px solid #06D6A0;
    width: 60%;
    border-radius: 10px;

}

#controllers div i{
    padding: 5px;
    font-size: 1.5rem;
    color: #073B4C;
}

#game-instructions{
    background-color: #06D6A0 ;
    width: 90%;
    margin: 10px auto;
    font-size: 1.3rem;
    margin: 5px auto;
    padding: 5px;
    border-radius: 10px;
}
.txt-center{
    text-align: center;
}
.How-to-play-container{
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    width: 80%;
    margin: 2px auto;
    text-align: left;
    padding: 2px;
    font-size: 1.2rem;
    color: #073B4C;
}

.How-to-play-container ol li,
.How-to-play-container ul li{
    margin: 2px;
    padding: 2px;
}
ol ,ul{
    margin-top: 2px;
    margin-bottom: 2px;
    color: #073B4C;
}
.ok-btn{
    border-radius: 10px;
    font-family: inherit;
    margin: 15px;
    padding: 15px;
    text-align: center;
    font-weight: bolder;
    font-size: 1.4rem;
    color: #073B4C;
    border: 2px solid #073B4C;
    background-color:#FFD166 ;
}




/*game board should be grid*/
#game-board{
    display: none;
    margin:5px auto;
    padding: 5px;
    max-width: calc(100vw/1.1);
    border-radius: 10px;
    box-shadow: 5px 5px 10px #118AB2;
}

.letter-squar{
    width: calc(100vw/6);
    height: calc(100vh/15);
    margin: 1px;
    border: 1px solid #118AB2;
    border-radius: 5px;
    font-size: 150%;
    font-family: 'Noto Sans', sans-serif;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

}
#score-container{
    border-radius: 10px;
    max-width: 88%;
    max-height: 150px;
    margin: 10px auto;
    display: none;
}
.scoring-info{
    font-family: 'Noto Sans', sans-serif;
    color:#073B4C;
    margin: 5px;
    padding: 2px;
    text-align: center;
}
.scoring-info>h2{
    font-size: 1.4rem;
}

#play-again-btn{
    font-family: 'Noto Sans', sans-serif;
    color:#073B4C;
    font-size: 90%;
    width: 50%;
    max-height: 50px;
    margin: 10px auto;
    padding: 10px;
    border-radius: 10px;
    display: none;
    border: 2px solid #073B4C;

}
#play-again-btn:hover,.ok-btn:hover{
    color: #FFD166;
    border: 2px solid #FFD166;
    background-color:#073B4C ;
}
#keyboard-container{
    width: 95%;
    margin: 5px auto;
    display: none;
    font-family: 'Noto Sans', sans-serif;
    gap: 1px;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 10px;
}

.keyboard-first-row,
.keyboard-second-row,
.keyboard-third-row
{
    width: 95%;
    margin: 1px auto;
    display: flex;
    justify-content: center;
    align-items:center
}

.keyboard-second-row {
    flex-grow: 2;
    flex-basis: auto;
    justify-content: center;
}

.key{
    text-transform: uppercase;
    margin: .5px;
    padding: 3px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    font-size: 1rem;
    flex-grow: 2;
    border: 1px solid #073B4C;
    color: #073B4C;
    font-weight: bolder;
    background-color: #ffffff;
}
.key:hover{
    border: 1px solid #06D6A0;
    color: #118AB2;
    background-color: #EF476F;
}

/* Media quiries section for larger screens*/
@media screen and (min-width:375px) {
    #game-instructions{
        background-color: #06D6A0 ;
        margin: 10px auto;
        padding: 0;
    }

    .How-to-play-container{
        width: 80%;
        font-size: 1.4rem;
    }
    #game-board{
        padding: 5px;
        width: calc(100vw/1.2);
    }

    .letter-squar{
        width: calc(100vw/7);
        height: calc(100vh/20);
        margin: 3px;
        border: 1px solid #118AB2;
        font-size: 200%;
        font-family: 'Noto Sans', sans-serif;
    }
    #keyboard-container{
        width: 95%;
        margin: 10px auto;
        gap: 2px;
        font-family: 'Noto Sans', sans-serif;
        bottom: 10px;
    }

}

@media screen and (min-width:768px) {
    #game-instructions{
        background-color: #06D6A0 ;
        margin: 50px auto;
        width: 65%;
    }

    .How-to-play-container{
        width: 70%;
        font-size: 1.4rem;
    }

    #game-board{
        padding: 5px;
        max-width: calc(100vw/1.1);
    }

    .letter-squar{
        width: calc(100vw/7);
        height: calc(100vh/15);
        margin: 3px;
        border: 1px solid #118AB2;
        font-size: 300%;
        font-family: 'Noto Sans', sans-serif;
    }
    #play-again-btn{
        width: 20%;
    }
}


@media screen and (min-width:992px) {
    .ok-btn{
        width: 100px;
        margin: 15px auto;
    }
    #controllers{
        width: 30%;
    }
    .How-to-play-container{
        width: 80%;
    }

    #game-board{
        padding: 5px;
        max-width:40%;
    }

    .letter-squar{
        width: calc(100vw/14);
        height: calc(100vh/15);
        font-family: 'Noto Sans', sans-serif;
        font-size: 1.5rem;
    }
    #keyboard-container{
        width: 60%;
        gap: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 5px;
    }
    .key{
        font-size: 100%;
    }
    #play-again-btn{
        width: 20%;
    }

}

@media screen and (min-width:1024px){
    #controllers{
        max-width: 300px;
    }
    #game-board{
        padding: 5px;
        max-width: 300px;
        max-height: 400px
    }
    .letter-squar{
        width: 50px;
        max-height: 50px;
        font-size: 150%;
    }
    #play-again-btn{
        width: 15%;
        margin: 5px auto;
        padding: 2px;
    }
    #keyboard-container{
        width: 60%;
        gap: 5px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 10px;
    }
    .key{
        max-width: 100px;
        max-height: 300px;
    }
    
}


